requests
beautifulsoup4
pandas
selenium
webdriver-manager
openpyxl
asyncpg

ftfy
clean-text
dateparser
babel

numpy
pydantic
python-dotenv
pandera
apache-airflow<3.0.0
psycopg2-binary
cryptography

spacy
unidecode
